# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.cproject

.project

autom4te.cache/output.0

autom4te.cache/requests

autom4te.cache/traces.0

build/libtool.m4

build/mkdep.awk

build/scan_makefile_in.awk

build/shtool

.gitignore

Makefile*

.*

config.h*

config.guess

acinclude.m4

config.log

run-tests.php

mkinstalldirs

missing

libtool

ltmain.sh

configure.*

*.la

aclocal.m4

*.lo

config.status

config.nice

config.sub

install-sh

.gitignore

configure
